@import url("https://fonts.googleapis.com/css2?family=Roboto");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poke-card {
  width: 250px;
  height: 357px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  float: left;
  margin: 28px;
  cursor: pointer;
}

.poke-card:hover {
  box-shadow: 16px 20px 33px #dde5ed !important;
}

.poke-card .header {
  width: 202px !important;
}

.poke-card .header .grass,
.bug {
  height: 202px;
  border-radius: 8px;
  background-color: #a7db8d;
}

.poke-card .header .fire {
  height: 202px;
  border-radius: 8px;
  background-color: #f5ac78;
}

.poke-card .header .water {
  height: 202px;
  border-radius: 8px;
  background-color: #94dbee;
}

.poke-card .header .normal {
  height: 202px;
  width: 202px;
  border-radius: 8px;
  background-color: #c6c6a7;
}

.poke-card img {
  width: 170px;
  height: 170px;
  margin: auto !important;
  display: block;
  position: relative;
}

.poke-card .body {
  margin: 10px;
}

.poke-card .body h2 {
  font-size: 20px;
  color: #374553;
}

.poke-card .body h2:first-letter {
  text-transform: capitalize;
}

.poke-card .body span {
  color: #374553;
  font-size: 14px;
  width: auto !important;
  border-radius: 2px;
  width: auto !important;
  padding: 4px 8px;
  margin-right: 5px;
}

.poke-card .body .grass {
  background-color: #a7db8d;
}

.poke-card .body .fire {
  background-color: #f5ac78;
}

.poke-card .body .water {
  background-color: #94dbee;
}

.poke-card .body .poison {
  background-color: #d8a4d8;
}

.poke-card .body .flying {
  background-color: #c6b7f5;
}

.poke-card .body .bug {
  background-color: #c6d16e;
}

.poke-card .body .normal {
  background-color: #a4acaf;
}
